<!DOCTYPE html>
<!--
 * @Author: mrlthf11
 * @LastEditors: mrlthf11
 * @Date: 2020-05-27 15:29:40
 * @LastEditTime: 2020-08-24 22:13:06
 * @Description: file content
-->
<html>

<head>
    <meta charset="UTF-8" />
    <title>Hello React!</title>
</head>

<body>
    <div id="newtab"></div>

    <!-- Dependencies -->
    <!-- <script src="../node_modules/react/umd/react.development.js"></script> -->
    <!-- <script src="../node_modules/react-dom/umd/react-dom.development.js"></script> -->

    <!-- <script src="./react.production.min.js"></script> -->
    <!-- <script src="./react-dom.production.min.js"></script> -->


    <!-- Main -->
    <!-- <script src="./main.js"></script> -->
</body>

</html>