@use 'utils/scss/index';
@use 'utils/scss/color';

.content {
  @extend %card;

  display: flex;
  flex-direction: column;

  &-left {
    position: relative;
    flex: none;
    width: auto;
  }
}

.folder-list {
  position: relative;
  height: 100%;
  padding: 0.25rem 0.1vw;
  overflow-y: auto;

  @include color.auto(background-color, 'bg-1');

  &::-webkit-scrollbar {
    @include color.auto(background-color, 'bg');
  }

  .folder-name {
    @extend %unit-tab;
    position: relative;
    z-index: 10;
    padding-right: 1.5vw;
    user-select: none;

    &-activated {
      border-radius: 0.3rem;
      @include color.prop(background-color, color.dark('gray-1'), color.dark('gray-5'));
      transition: background-color ease 0.4s;
    }

    &:hover {
      &-activated {
        @include color.prop(background-color, color.dark('gray-2'), color.dark('gray-6'));
      }
    }

    img {
      margin-right: 0.75rem;
    }

    &.open {
      img {
        width: 1.25rem;
        margin-right: 0.5625rem;
        margin-left: 0.0625rem;
      }
    }
  }
}

.bookmark-wrapper {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

.bookmark-list {
  position: relative;

  .folder {
    width: 100%;
  }

  .label {
    @extend %label;
    width: 100%;
  }
}

.folder-title {
  @extend %sub-title;
}

.delimiter {
  position: absolute;
  right: 0;
  left: 0;
  height: 2px;
  @include color.auto(background-color, 'blue-4');

  &-hide {
    right: 100%;
    opacity: 0;
    transition: opacity 1s ease, right 1s ease;
  }
}

.ref-box {
  position: absolute;
  right: 0;
  left: 0;
  @include color.auto(background-color, 'bg');
  transition: height ease 500ms 1000ms, top ease 500ms 2000ms;
}

.piled-out {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 20;
  padding-top: 0.25rem;
  overflow-x: auto;
  overflow-y: hidden;
  opacity: 1;
  transition: opacity ease .2s;
  @include color.auto(background-color, 'bg-1');
  @include color.prop(border-left, 1px color.light('border') solid, 1px color.dark('border') solid);

  a {
    @extend %a;
  }

  ul {
    display: inline;
    writing-mode: vertical-lr;
  }

  li,
  .label {
    display: inline-block;
    width: 300px;
    writing-mode: horizontal-tb;
  }

  &-hidden {
    opacity: 0;
    // display: none;
  }
}



