.record-wrapper {
    background-color: #fff;
    & > div {
        text-align: center;
        height: 1rem;
        line-height: 1rem;
        color: #888;
    }
    ul {
        padding: 0;
        margin: 0;
        padding-bottom: 1rem;
        li {
            list-style: none;
            margin-top: 1rem;
            padding: 0 1.5rem;

            div {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            div:nth-child(1) {
                font-size: 1rem;
            }
            div:nth-child(2) {
                color: #888;
            }
        }
    }
}