{
  "branch": "master",
  "verifyConditions": [
    "semantic-release-chrome",
    "@semantic-release/github"
  ],
  "prepare": [
    {
      "path": "semantic-release-chrome",
      "asset": "extension.zip"
    }
  ],
  "publish": [
    {
      "path": "semantic-release-chrome",
      "asset": "extension.zip",
      "extensionId": "mijbgkgainebmihplkehcknfnoikidgn"
    },
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "extension.zip"
        }
      ]
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
