@import 'utils/index';

.content {
  @extend %card;
  display: flex;
  flex-direction: column;
  box-shadow: none;

  .record-title {
    @extend %sub-title;
    position: relative;
    display: flex;
    justify-content: space-between;

    .btn-close {
      @extend %btn-close, %sub-title;
      color: #000;
      font-size: 1rem;
    }

    &:hover .btn-close {
      opacity: 1;
    }
  }
}

.list {
  flex: 1;
  overflow-y: auto;
}

.label {
  @extend %label;
}
