@import 'utils/index';

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  @include dark(background, 'bg');
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  overflow: visible;
}


::-webkit-scrollbar-thumb {
  @include dark(background-color, 'border');
  border-radius: 2px 0 0 2px;
}

::-webkit-scrollbar-thumb:hover {
  @include dark(background-color, 'border-hl');
}
