$sideWidthMax: 300;
$sideWidthMin: 250;
$colWidthMax: 300;
$colWidthMin: 250;
$colMargin: 20;
$centerMargin: 30;

$lastMaxWidth: 0;
$lastI: 0;
$globalMinWidth: 0;

@each $i, $sideCount in (1, 0), (2, 0), (2, 1), (2, 2), (3, 2), (4, 2) {
  $maxWidth: $sideWidthMax *
    $sideCount +
    $colWidthMax *
    $i +
    $colMargin *
    ($i + 1) +
    $centerMargin *
    2;
  $middleWidth: $sideWidthMax *
    $sideCount +
    $colWidthMin *
    $i +
    $colMargin *
    ($i + 1) +
    $centerMargin *
    2;
  $minWidth: $sideWidthMin *
    $sideCount +
    $colWidthMin *
    $i +
    $colMargin *
    ($i + 1) +
    $centerMargin *
    2;

  @media (max-width: #{$maxWidth}px) and (min-width: #{$middleWidth}px) {
    .rightSide,
    .leftSide {
      width: #{$sideWidthMax}px;
      flex-grow: 0;
    }

    .centerContent {
      flex-grow: 1;
    }

    .leftSpace,
    .rightSpace {
      flex-grow: 0;
    }
  }

  @media (max-width: #{$middleWidth}px) and (min-width: #{$minWidth}px) {
    .rightSide,
    .leftSide {
      width: #{$sideWidthMin}px;
      flex-grow: 1;
    }

    .centerContent {
      width: #{$i * $colWidthMin + ($i + 1) * $colMargin}px;
      flex-grow: 0;
    }

    .leftSpace,
    .rightSpace {
      flex-grow: 0;
    }
  }

  @media (min-width: #{$minWidth}px) {
    $sideNum: $minWidth - $sideWidthMin * $sideCount - $centerMargin * 2;

    $marginLeft: $colMargin/$sideNum * 100%;
    .col {
      margin-left: $marginLeft;
      width: (100%-$marginLeft * ($i + 1)) / $i;
    }
  }

  @if $lastMaxWidth != 0 and $lastI != 0 {
    @media (max-width: #{$minWidth}px) and (min-width: #{$lastMaxWidth}px) {
      .rightSide,
      .leftSide {
        width: #{$sideWidthMax}px;
        flex-grow: 0;
      }

      .centerContent {
        width: #{$lastI * $colWidthMax + ($lastI + 1) * $colMargin}px;
        flex-grow: 0;
      }

      .leftSpace,
      .rightSpace {
        flex-grow: 1;
      }
    }
  }

  @if $sideCount == 1 {
    $nextMinWidth: $sideWidthMin *
      2 +
      $colWidthMin *
      $i +
      $colMargin *
      ($i + 1) +
      $centerMargin *
      2;
    @media (max-width: #{$nextMinWidth}px) {
      .rightSide {
        // display: none;
        position: absolute;
      }

      body {
        overflow: hidden;
      }
    }
  }
  @if $sideCount == 0 {
    $nextMinWidth: $sideWidthMin *
      1 +
      $colWidthMin *
      $i +
      $colMargin *
      ($i + 1) +
      $centerMargin *
      2;
    @media (max-width: #{$nextMinWidth}px) {
      .leftSide,
      .rightSide {
        position: absolute;
      }

      .container {
        overflow: hidden;
      }

      body {
        overflow: auto !important;
      }
    }
  }
  $lastMaxWidth: $maxWidth !global;
  $lastI: $i !global;

  @if $minWidth < $globalMinWidth or $globalMinWidth == 0 {
    $globalMinWidth: $minWidth !global;
  }
}

@media (min-width: #{$lastMaxWidth}px) {
  .rightSide,
  .leftSide {
    width: #{$sideWidthMax}px;
    flex-grow: 0;
  }

  .centerContent {
    width: #{$lastI * $colWidthMax + ($lastI + 1) * $colMargin}px;
    flex-grow: 0;
  }

  .leftSpace,
  .rightSpace {
    flex-grow: 1;
  }
}

@media (max-width: #{$globalMinWidth}px) {
  //   .rightSide,
  //   .leftSide {
  //     width: #{$sideWidthMax}px;
  //     flex-grow: 0;
  //   }

  .centerContent {
    width: 560px;
    flex-grow: 0;
  }

  .leftSpace,
  .rightSpace {
    flex-grow: 0;
  }

  $sideNum: $globalMinWidth - $centerMargin * 2;
  $i: 2;
  $marginLeft: $colMargin/$sideNum * 100%;
  .col {
    margin-left: $marginLeft;
    width: (100%-$marginLeft * ($i + 1)) / $i;
  }

  .container {
    // subtract the scrollbar-thumb height
    height: calc(100vh - 8px);
  }
}

.container {
  min-width: #{$globalMinWidth}px;
}
