@import 'utils/index';

.content {
  @extend %card;
  display: flex;
  flex-direction: column;
  border-left: 1px #efefef solid;

  .window-title {
    @extend %sub-title;
    position: relative;
    display: flex;
    justify-content: space-between;

    .buttons {
      @extend %btn-close, %sub-title;
      color: #000;
      font-size: 1rem;
    }

    &:hover .buttons{
      opacity: 1;
    }
  }

  .list {
    flex: 1;
    overflow: auto;
  }

  .label {
    @extend %label;

    .buttons {
      background: linear-gradient(to right, transparent, #fafafa);
    }

    &.activated {
      background-color: #eee;

      .buttons {
        background: linear-gradient(to right, transparent, #eee);
        transform: translateX(0);
      }
    }
    &-selected {
      background-color: #b5f5ec;
    }

    &-selected.activated {
      background-color: #87e8de;
    }
  }

  .tab-group {
    .label {
      // height: 1.75rem;
      // line-height: 1.75rem;
      background-image: url('~@img/tabGroupBg.svg');
      background-repeat: no-repeat;
      background-position: 0.8rem 0;
      background-size: 1.5rem 2rem;

      &:first-of-type {
        background-image: url('~@img/tabGroupBgFirst.svg');
      }

      &:last-of-type {
        background-image: url('~@img/tabGroupBgLast.svg');
      }

      &.activated {
        background-image: url('~@img/tabGroupBgActivatedNotFocus.svg');

        &:first-of-type {
          background-image: url('~@img/tabGroupBgFirstActivatedNotFocus.svg');
        }

        &:last-of-type {
          background-image: url('~@img/tabGroupBgLastActivatedNotFocus.svg');
        }
      }
    }
  }

  .focused {
    .activated .buttons {
      background: linear-gradient(to right, transparent, #e6f7ff);
    }

    .label {
      &.activated {
        color: #0050b3;
        background-color: #e6f7ff;
      }
      &-selected.activated {
        background-color: #5cdbd3;
      }
    }

    .tab-group {
      .label {
        &.activated {
          background-image: url('~@img/tabGroupBgActivated.svg');

          &:first-of-type {
            background-image: url('~@img/tabGroupBgFirstActivated.svg');
          }

          &:last-of-type {
            background-image: url('~@img/tabGroupBgLastActivated.svg');
          }
        }
      }
    }
  }
}

.darg-hover{
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: blue;
  transition: top ease .2s;
  pointer-events:none;
}
