@use "sass:map";
@import 'utils/index';

.content {
  @extend %card;
  display: flex;
  flex-direction: column;

  .window-title {
    @extend %sub-title;
    position: relative;
    display: flex;
    justify-content: space-between;

    .buttons {
      @extend %btn-close, %sub-title;
      font-size: 1rem;
    }

    &:hover .buttons {
      opacity: 1;
    }
  }

  .list-wp {
    flex: 1;
    overflow: auto;
  }

  .list {
    position: relative;
  }

  .label {
    position: absolute;
    right: 0;
    left: 0;
    transition: top ease 0.1s;
    will-change: top;
    @extend %label;

    .buttons {
      @include darkProp(
        background,
        linear-gradient(to right, transparent, map.get($colors, 'bg')),
        linear-gradient(to right, transparent, map.get($dark-colors, 'bg'))
      );
    }

    &.activated {
      margin: 0 0.3rem;
      border-radius: 0.3rem;
      @include darkProp(
        background-color,
        map.get($dark-colors, 'gray-1'),
        map.get($dark-colors, 'gray-5')
      );
      transition: background-color ease 0.4s;

      &:hover {
        @include darkProp(
          background-color,
          map.get($dark-colors, 'gray-2'),
          map.get($dark-colors, 'gray-6')
        );
      }

      .unit-tab {
        padding-left: 0.7rem;
      }
      .buttons {
        @include darkProp(
          background,
          linear-gradient(to right, transparent, map.get($colors, 'blue-4')),
          linear-gradient(to right, transparent, map.get($dark-colors, 'blue-4'))
        );
        transform: translateX(0);
      }
    }
    &-selected {
      @include dark(background-color, 'blue-4');
    }

    &-selected.activated {
      margin: 0;
      border-radius: 0;
      @include dark(background-color, 'blue-5');
    }

    // .tree-structure {
    //   display: inline-block;
    //   height: 100%;
  }

  .focused {
    .activated .buttons {
      @include darkProp(
        background,
        linear-gradient(to right, transparent, map.get($colors, 'btn-text')),
        linear-gradient(to right, transparent, map.get($dark-colors, 'btn-text'))
      );
    }
  }
}

.darg-hover {
  @include dark(background-color, 'blue-5');
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: top ease 0.2s;
  pointer-events: none;
}

.trans-top {
  transition: top ease 0.1s;
}

.tree-img {
  width: 2rem;
  height: 2rem;
  margin-top: -1px;
  margin-left: -0.4rem;
  vertical-align: middle;
  @include dark(fill, 'border-hl');
}
