@use "sass:map";
@import 'utils/index';

.part {
  flex: 1;
  height: 100vh;
}

.aside {
  height: 100vh;
}


.tab {
  position: relative;
  flex: 1;
  height: 50%;
}

.arrow {
  position: absolute;
  top: 0;
  z-index: 9;
  width: calc(100% - 1px);
  height: 1rem;
  font-size: 1rem;
  text-align: center;
  @include dark(color, 'text');

  @include darkProp(
    background,
    linear-gradient(to top, transparent, map.get($colors, 'bg')),
    linear-gradient(to top, transparent, map.get($dark-colors, 'bg'))
  );
  @include darkProp(
    border-right,
    1px solid map.get($colors, 'border'),
    1px solid map.get($dark-colors, 'border')
  );
  @include darkProp(
    border-left,
    1px solid map.get($colors, 'border'),
    1px solid map.get($dark-colors, 'border')
  );

  user-select: none;

  span {
    position: relative;
    cursor: pointer;
    &::before {
      position: absolute;
      top: -0.5rem;
      right: -1.5rem;
      bottom: -0.5rem;
      left: -1.5rem;
      content: ' ';
    }
  }
}

.record {
  position: relative;
  flex: 1;
  height: 50%;
  @include darkProp(
    border-top,
    1px solid map.get($colors, 'border'),
    1px solid map.get($dark-colors, 'border')
  );
}

.hidden-record {
  .tab {
    height: calc(100% - 2rem);
  }
  .record {
    height: 2rem;
  }
  .arrow {
    @include dark(color, 'text');
    padding-bottom: 1rem;
    @include darkProp(
      background,
      linear-gradient(to right, transparent, map.get($colors, 'bg')),
      linear-gradient(to right, transparent, map.get($dark-colors, 'bg'))
    );
  }
}
