@use 'utils/scss/index';
@use 'utils/scss/color';

.part {
  flex: 1;
  height: 100vh;
}

.aside {
  height: 100vh;
}

.tab {
  position: relative;
  flex: 1;
  height: 50%;
}

.arrow {
  position: absolute;
  top: 0;
  z-index: 9;
  width: calc(100% - 1px);
  height: 1rem;
  font-size: 1rem;
  text-align: center;
  @include color.auto(color, 'text');

  @include color.prop(
    background,
    linear-gradient(to top, transparent, color.light('bg')),
    linear-gradient(to top, transparent, color.dark('bg'))
  );
  @include color.prop(
    border-right,
    1px solid color.light('border'),
    1px solid color.dark('border')
  );
  @include color.prop(border-left, 1px solid color.light('border'), 1px solid color.dark('border'));

  user-select: none;

  span {
    position: relative;
    cursor: pointer;
    &::before {
      position: absolute;
      top: -0.5rem;
      right: -1.5rem;
      bottom: -0.5rem;
      left: -1.5rem;
      content: ' ';
    }
  }
}

.record {
  position: relative;
  flex: 1;
  height: 50%;
  @include color.prop(border-top, 1px solid color.light('border'), 1px solid color.dark('border'));
}

.hidden-record {
  .tab {
    height: calc(100% - 2rem);
  }
  .record {
    height: 2rem;
  }
  .arrow {
    @include color.auto(color, 'text');
    padding-bottom: 1rem;
    @include color.prop(
      background,
      linear-gradient(to right, transparent, color.light('bg')),
      linear-gradient(to right, transparent, color.dark('bg'))
    );
  }
}
