%card {
    flex: 4 0 300px;

    width: 300px;
    height: 100vh;
    background: rgba(250, 250, 250, 1);

    .focused {
        %sub-title {
            color: #595959;
        }
    }
}

%btn-close {

    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .3rem 0 1rem;
    font-size: 1rem;
    line-height: 2rem;
    opacity: 0;
    transition: opacity .05s ease-in-out;
}

%unit-tab {

    height: 2rem;
    padding-left: 1rem;

    overflow: hidden;
    line-height: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;

    img {
        width: 1.125rem;
        height: 1.125rem;
        margin-right: .875rem;
        vertical-align: sub;
    }
}

%label {
    position: relative;

    .unit-tab {
        @extend %unit-tab;
    }

    .btn-close {
        @extend %btn-close;
    }

    &:hover .btn-close {
        opacity: 1;
    }
}

%sub-title {

    height: 2rem;
    margin-left: .75rem;
    padding-top: 1rem;
    padding-bottom: .25rem;
    color: #595959;
    font-size: .875rem;
    line-height: 2rem;
}

%title {

    display: flex;
    justify-content: space-between;

    height: 2.8125rem;
    font-size: .875rem;
    font-family: PingFangSC-Regular, PingFang SC, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    line-height: 2.8125rem;
    background-color: #fff;

    border-bottom: 1px #efefef solid;

    div:first-child {
        padding-left: 1.5625rem;
    }

    div:last-child {

        padding-right: 1rem;
        font-size: 1.125rem;

        svg {
            margin-left: .5rem;
            color: #8c8c8c;
            cursor: pointer;
            transition: color .25s ease-in-out;

            &:hover {
                color: #000;
            }
        }
    }
}