@use "sass:map";

$colors: (
  'text': #24292e,
  'text-1': #586069,
  'bg': #fafafa,
  'bg-hl': #f0f0f0,
  'border': #efefef,
  'border-hl': #d7d7d7,
  'gray-0': #fafbfc,
  'gray-1': #f6f8fa,
  'gray-2': #e1e4e8,
  'gray-3': #d1d5da,
  'gray-4': #959da5,
  'gray-5': #6a737d,
  'gray-6': #586069,
  'gray-7': #444d56,
  'gray-8': #2f363d,
  'gray-9': #24292e,
  'blue-0': #f1f8ff,
  'blue-1': #dbedff,
  'blue-2': #c8e1ff,
  'blue-3': #79b8ff,
  'blue-4': #2188ff,
  'blue-5': #0366d6,
  'blue-6': #005cc5,
  'blue-7': #044289,
  'blue-8': #032f62,
  'blue-9': #05264c,
  'btn-text': #24292e,
  'btn-bg': #fafbfc,
);

$dark-colors: (
  'text': #c9d1d9,
  'text-1': #adbac7,
  'bg': #22272e,
  'bg-hl': #2d333b,
  'border': #2c323a,
  'border-hl': #444c56,
  'gray-0': #f0f6fc,
  'gray-1': #c9d1d9,
  'gray-2': #b1bac4,
  'gray-3': #8b949e,
  'gray-4': #6e7681,
  'gray-5': #484f58,
  'gray-6': #30363d,
  'gray-7': #21262d,
  'gray-8': #161b22,
  'gray-9': #0d1117,
  'blue-0': #cae8ff,
  'blue-1': #a5d6ff,
  'blue-2': #79c0ff,
  'blue-3': #58a6ff,
  'blue-4': #388bfd,
  'blue-5': #1f6feb,
  'blue-6': #1158c7,
  'blue-7': #0d419d,
  'blue-8': #0c2d6b,
  'blue-9': #051d4d,
  'btn-text': #c9d1d9,
  'btn-bg': #21262d,
);

@mixin dark($property, $key) {
  #{$property}: map.get($colors, $key);

  @media (prefers-color-scheme: dark) {
    #{$property}: map.get($dark-colors, $key);
  }
}

@mixin darkProp($property, $light-value, $dark-value) {
  #{$property}: $light-value;

  @media (prefers-color-scheme: dark) {
    #{$property}: $dark-value;
  }
}

%card {
  @include dark(color, 'text');
  @include dark(background, 'bg');
  @include darkProp(
    border-left,
    1px map.get($colors, 'border') solid,
    1px map.get($dark-colors, 'border') solid
  );
  flex: 1 0 300px;
  height: 100%;

  .focused {
    %sub-title {
      @include dark(color, 'blue-4');
    }
  }

  a {
    @include dark(color, 'text');
    text-decoration: none;
  }
}

%btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.3rem 0 1rem;
  font-size: 1rem;
  line-height: 2rem;
  opacity: 0;
  transition: opacity 0.1s ease 0.05s;
  svg {
    margin-left: 0.3rem;
    cursor: pointer;
  }
}

%unit-tab {
  height: 2rem;
  padding-left: 1rem;

  overflow: hidden;
  line-height: 2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;

  img {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.875rem;
    vertical-align: sub;
  }
}

%label {
  position: relative;
  display: block;
  user-select: none;

  .unit-tab {
    @extend %unit-tab;
  }

  .btn-close {
    @extend %btn-close;
  }

  &:hover .btn-close {
    opacity: 1;
  }
}

%sub-title {
  @include dark(color, 'text');
  height: 2.5rem;
  margin: 0;
  padding-top: 0.75rem;
  padding-left: 0.75rem;
  font-size: 0.9375rem;
  line-height: 2.5rem;

  h3 {
    margin: 0;
    font-size: inherit;
  }
}
