%card {
    flex: 4 0 300px;

    width: 300px;
    height: 100vh;

    background: rgba(250, 250, 250, 1);

    .focused {
        %sub-title {
            color: #595959;
        }
    }
}

%btn-close {
    font-size: 1rem;
    line-height: 2rem;

    position: absolute;
    top: 0;
    right: 0;

    padding: 0 .3rem 0 1rem;

    transition: opacity .05s ease-in-out;

    opacity: 0;
}

%unit-tab {
    line-height: 2rem;

    overflow: hidden;

    height: 2rem;
    padding-left: 1rem;

    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;

    img {
        width: 1.125rem;
        height: 1.125rem;
        margin-right: .875rem;

        vertical-align: sub;
    }
}

%label {
    position: relative;

    .unit-tab {
        @extend %unit-tab;
    }

    .btn-close {
        @extend %btn-close;
    }

    &:hover .btn-close {
        opacity: 1;
    }
}

%sub-title {
    font-size: .875rem;
    line-height: 2rem;

    height: 2rem;
    margin-left: .75rem;
    padding-top: 1rem;
    padding-bottom: .25rem;

    color: #595959;
}

%title {
    font-family: PingFangSC-Regular, PingFang SC;
    font-size: .875rem;
    line-height: 2.8125rem;

    display: flex;
    justify-content: space-between;

    height: 2.8125rem;

    border-bottom: 1px #efefef solid;
    background-color: #fff;

    div:first-child {
        padding-left: 1.5625rem;
    }

    div:last-child {
        font-size: 1.125rem;

        padding-right: 1rem;

        svg {
            margin-left: .5rem;

            cursor: pointer;
            transition: color .25s ease-in-out;

            color: #8c8c8c;

            &:hover {
                color: #000;
            }
        }
    }
}