@import 'utils/index';

.title {
	@extend %title;
}

.content {
	@extend %card;
	border-left: 1px #efefef solid;
	display: flex;
	flex-direction: column;

	.window-title {
		@extend %sub-title;
	}

	.label {
		@extend %label;
	}

	.list{
		flex: 1;
		overflow: auto;
	}

	.label {
		&.activated {
			background-color: #eee;
		}
	}

	.tab-group {
		.label {
			height: 1.75rem;
			line-height: 1.75rem;
			background-image: url('~@img/tabGroupBg.svg');
			background-repeat: repeat-y;
			background-size: 1.5rem 1.75rem;
			background-position: 0.8rem 0rem;

			&:first-of-type {
				background-image: url('~@img/tabGroupBgFirst.svg');
				background-position-y: -0.15rem;
				background-size: 1.5rem 2rem;
			}

			&:last-of-type {
				background-image: url('~@img/tabGroupBgLast.svg');
			}

			&.activated {
				background-image: url('~@img/tabGroupBgActivatedNotFocus.svg');

				&:first-of-type {
					background-image: url('~@img/tabGroupBgFirstActivatedNotFocus.svg');
				}

				&:last-of-type {
					background-image: url('~@img/tabGroupBgLastActivatedNotFocus.svg');
				}
			}
		}
	}

	.focused {
		.label {
			&.activated {
				color: #0050b3;
				background-color: #e6f7ff;
			}
		}

		.tab-group {
			.label {
				&.activated {
					background-image: url('~@img/tabGroupBgActivated.svg');

					&:first-of-type {
						background-image: url('~@img/tabGroupBgFirstActivated.svg');
					}

					&:last-of-type {
						background-image: url('~@img/tabGroupBgLastActivated.svg');
					}
				}
			}
		}
	}
}