@use "sass:map";
@import 'utils/index';

.content {
  position: absolute;
  width: 120px;

  @include dark(background-color, 'bg-hl');
  border-radius: 0.3125rem;

  box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.2), 0 5.1px 11.8px rgba(0, 0, 0, 0.119),
    0 23px 53px rgba(0, 0, 0, 0.081);
  transition: top 0.05s ease, left 0.06s ease;
  will-change: top, left;

  li {
    display: flex;
    height: 2rem;
    line-height: 2rem;

    @include dark(color, 'text-1');
    @include darkProp(
      border-bottom,
      1px map.get($colors, 'border') solid,
      1px map.get($dark-colors, 'border') solid
    );
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    user-select: none;
    will-change: color, background-color;

    &:first-child {
      border-radius: 0.3125rem 0.3125rem 0 0;
    }

    &:last-child {
      border: none;
      border-radius: 0 0 0.3125rem 0.3125rem;
    }

    &:only-child {
      border-radius: 0.3125rem;
    }

    div:first-child {
      padding: 0 0.75rem 0 1rem;
      font-size: 1rem;
    }

    div:last-child {
      font-size: 0.875rem;
    }

    &:hover {
      @include dark(color, 'blue-5');

      div:first-child {
        @include dark(color, 'blue-5');
      }
    }
  }
}
