@import 'utils/index';

.content {
	@extend %card;
	display: flex;
	flex-direction: column;

	border-left: 1px #efefef solid;

	.date {
		@extend %sub-title;
	}
}

.title {
	@extend %title;
}

.list {
	flex: 1;
	overflow-y: auto;
	padding-bottom: 0.75rem;
	position: relative;

	.section {
		position: absolute;
		width: 100%;
	}
}

.label {
	@extend %label;
	display: flex;
	justify-content: space-between;

	.unit-tab {
		flex: 1 1;
	}

	.time {
		color: #bfbfbf;
		padding-right: 0.5rem;
		line-height: 2rem;
	}
}



.domain {
	padding: 0.25rem 0;

	&:first-child {
		padding: 0;
	}

	.label {
		height: 1.75rem;
		line-height: 1.75rem;

		.unit-tab {
			height: 1.75rem;
			line-height: 1.75rem;
		}

		.time {
			height: 1.75rem;
			line-height: 1.75rem;
		}
	}
}