* {
	font-family: PingFangSC-Regular, PingFang SC;
}

%card {
	width: 300px;
	height: 100vh;
	box-shadow: 12px 0px 48px 0px rgba(0, 0, 0, 0.3);
	background: rgba(250, 250, 250, 1);
	.focused {
		%sub-title {
			color: #595959;
		}
	}
}

%btn-close{
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 0.3rem 0 1rem;
	font-size: 1rem;
	line-height: 2rem;
	transition: opacity 0.05s ease-in-out;
	background: linear-gradient(to right, transparent, #fafafa);
}

%unit-tab{
	height: 2rem;
	line-height: 2rem;
	padding-left: 1rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: default;
	img {
		height: 1.125rem;
		width: 1.125rem;
		margin-right: 0.875rem;
		vertical-align: sub;
	}
}

%label {
	position: relative;
	.unit-tab {
		@extend %unit-tab;
	}
	.btn-close {
		@extend %btn-close;
	}

	&:hover .btn-close {
		opacity: 1;
	}
}

%sub-title {
	padding-top: 0.25rem;
	height: 2.25rem;
	line-height: 2.25rem;
	margin-left: 1rem;
	font-size: 0.875rem;
	color: #8c8c8c;
}

%title {
	display: flex;
	justify-content: space-between;
	height: 2.8125rem;
	line-height: 2.8125rem;
	border-bottom: 1px #efefef solid;

	font-size: 0.875rem;
	font-family: PingFangSC-Regular, PingFang SC;
	background-color: #fff;
	div:first-child {
		padding-left: 1.5625rem;
	}
	div:last-child {
		padding-right: 1rem;

		font-size: 1.125rem;
		svg {
			cursor: pointer;
			margin-left: 0.5rem;
			color: #8c8c8c;
			transition: color 0.25s ease-in-out;
			&:hover {
				color: #000;
			}
		}
	}
}
